<h1>Help</h1>

<p>Create OpenRemote rules using a simple drag-and-drop system.</p>
<br />
<b>How do I add nodes?</b>
<p>Drag nodes to the workspace to make it appear.</p>
<b>How do I delete nodes?</b>
<p>
  1. Select the node you want to delete by clicking its name.<br>
  2. Press the Delete key.
</p>
<b>What do the different colors mean?</b>
<p>
  The color of the nodes represent the type of node.
</p>
<div class="input node">
  Input
</div>
<div class="input node">
  Processor
</div>
<div class="input node">
  Output
</div>
<p>
  The color of the connection circles represents the data type:
</p>
<ul>
  <li *ngFor="let type of getAllTypes()" class="type-hint"> <span class="circle"
      [ngStyle]="{'background': type | graphSocketTypeColour}"></span> {{type}}</li>
</ul>
<br>

<button mat-button mat-dialog-close>Close</button>
