mat-dialog-container {
  max-width: 200px;
}

.circle {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.199);
}

.type-hint {
  display: flex;
  margin-bottom: 15px;
  align-content: center;
  line-height: 16px;
}

ul {
  list-style-type: none;
}
