<div class="node {{node.type | graphNodeTypeClass}}" (click)="addNodeToProject()">
  <div class="title" style="grid-area: title">{{node.name | graphNodeName}}</div>

  <div class="sockets" style="grid-area: input">
    <div class="input socket" *ngFor="let s of node.inputs" title="{{s.type}}">
      <span class="circle" [ngStyle]="{'background': s.type | graphSocketTypeColour}"></span>
    </div>
  </div>

  <div class="sockets" style="grid-area: output">
    <div class="output socket" *ngFor="let s of node.outputs" title="{{s.type}}">
      <span class="circle" [ngStyle]="{'background': s.type | graphSocketTypeColour}"></span>
    </div>
  </div>
</div>
