.node {
  display: inline-grid;
  background: rgb(80, 80, 80);
  border-radius: 5px;
  min-width: 150px;
  min-height: 60px;
  padding: 5px;
  margin: 10px;
  grid-template-columns: auto 80% auto;
  grid-template-rows: auto;
  grid-template-areas:
    "input title output";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.title {
  user-select: none;
  margin: 0;
  grid-area: title;
  color: rgba(255, 255, 255, 0.5);
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 19px;
}

.sockets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.socket {
  height: 14px;
}

.circle {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 100%;
  background: gray;
}

.input {
  align-self: flex-start;
  text-align: right;
  transform: translateX(-9px);
}

.output {
  align-self: flex-end;
  text-align: left;
  transform: translateX(9px);
}

.node-input {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.node-input .title {
  text-align: right;
}

.node-input .input {
  display: none;
}

.node-processor {}

.node-output {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.node-output .output {
  display: none;
}
