.colorpicker {
  width: 128px;
  height: 128px;
  background: white;
  border-radius: 8px;
  margin: 5px;
}

.eyedrop {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: none;
  border: 2px solid white;
  mix-blend-mode: difference;
}
