<span [ngSwitch]="internal.picker.type">
  <input matInput placeholder="Favorite food" value="Sushi" *ngSwitchCase="PickerType.Text">

  <p *ngSwitchCase="PickerType.Number">
    Number
  </p>

  <mat-form-field *ngSwitchCase="PickerType.Dropdown">
    <mat-label>{{internal.name}}</mat-label>
    <mat-select>
      <mat-option *ngFor="let option of internal.picker.options" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span *ngSwitchCase="PickerType.Color">
    <div>
      <mat-label>R</mat-label>
      <mat-slider min="0" max="5255" step="1" value="128"></mat-slider>
    </div>
    <div>
      <mat-label>G</mat-label>
      <mat-slider min="0" max="5255" step="1" value="128"></mat-slider>
    </div>
    <div>
      <mat-label>B</mat-label>
      <mat-slider min="0" max="5255" step="1" value="128"></mat-slider>
    </div>
  </span>

</span>
