<div #view [ngSwitch]="internal.picker.type" class="picker">

  <mat-form-field *ngSwitchCase="PickerType.Multiline">
    <textarea matInput placeholder="{{(internal.name | graphNodeName).toLowerCase()}}"
      [(ngModel)]="internal.value"></textarea>
  </mat-form-field>

  <mat-form-field *ngSwitchCase="PickerType.Text">
    <input matInput placeholder="{{(internal.name | graphNodeName).toLowerCase()}}" [(ngModel)]="internal.value">
  </mat-form-field>

  <mat-form-field *ngSwitchCase="PickerType.Number">
    <input matInput step="0.5" type="number" placeholder="{{internal.name}}" [(ngModel)]="internal.value">
  </mat-form-field>

  <mat-form-field *ngSwitchCase="PickerType.Dropdown">
    <mat-label>{{internal.name}}</mat-label>
    <mat-select [(ngModel)]="internal.value">
      <mat-option *ngFor="let option of internal.picker.options" [value]="option.value">
        {{option.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngSwitchCase="PickerType.DoubleDropdown">
    <mat-form-field>
      <mat-label>{{internal.name}}</mat-label>
      <mat-select [(ngModel)]="doubleDropDownChoice" (selectionChange)="resetDoubleDropDownValue()">
        <mat-option *ngFor="let option of internal.picker.options" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="internal.value">
        <mat-option *ngFor="let option of doubleDropDownChoice.options" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>


  <span *ngSwitchCase="PickerType.Color">
    <div>
      <mat-label>R</mat-label>
      <mat-slider thumbLabel min="0" max="255" step="1" value="128" [(ngModel)]="internal.value.r"></mat-slider>
    </div>
    <div>
      <mat-label>G</mat-label>
      <mat-slider thumbLabel min="0" max="255" step="1" value="128" [(ngModel)]="internal.value.g"></mat-slider>
    </div>
    <div>
      <mat-label>B</mat-label>
      <mat-slider thumbLabel min="0" max="255" step="1" value="128" [(ngModel)]="internal.value.b"></mat-slider>
    </div>
  </span>

</div>
