<div (contextmenu)="contextMenu($event)" (cdkDragMoved)="updatePosition()" #view
  class="node {{node.type | graphNodeTypeClass}}"
  [ngClass]="{'selected': selection.isNodeSelected(node), 'node-simple': hasDisplayCharacter}" cdkDrag
  cdkDragBoundary=".workspace" style="z-index: 1" (mousedown)="mousedown($event)">
  <div class="title" cdkDragHandle *ngIf="!hasDisplayCharacter">
    <div>{{node.name | graphNodeName}}</div>
  </div>
  <div #inputSockets class="sockets" style="grid-area: input">
    <div class="input socket" *ngFor="let s of node.inputs" title="{{s.type}}">
      <span [id]="getSocketIdentity(s)" class="circle" socket="input"
        [ngStyle]="{'background': s.type | graphSocketTypeColour}" (mouseup)="project.stopConnectionDrag(s, $event)"
        (mousedown)="project.beginConnectionDrag(s, $event, true)"></span>
      <span class="label">{{s.name}}</span>
    </div>
  </div>

  <div *ngIf="hasDisplayCharacter" class="title" cdkDragHandle>{{node.displayCharacter}}</div>

  <div style="grid-area: internals" class="internals" *ngIf="!hasDisplayCharacter">
    <app-picker *ngFor="let internal of node.internals" [node]="node" [internal]="internal"
      (mousedown)="selection.deselectNode(node)"></app-picker>
  </div>

  <div #outputSockets class="sockets" style="grid-area: output">
    <div class="output socket" *ngFor="let s of node.outputs" title="{{s.type}}">
      <span class="label">{{s.name}}</span>
      <span [id]="getSocketIdentity(s)" class="circle" socket="output"
        [ngStyle]="{'background': s.type | graphSocketTypeColour}" (mouseup)="project.stopConnectionDrag(s, $event)"
        (mousedown)="project.beginConnectionDrag(s, $event)"></span>
    </div>
  </div>

  <div class="nodeBackground" *ngIf="!hasDisplayCharacter">

  </div>
</div>