.node {
  display: inline-grid;
  width: 150px;
  min-height: 24px;
  border-radius: 5px;
  margin: 5px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  cursor: grab;
  background: rgb(110, 110, 110);
  color: rgba(255, 255, 255, 0.685);
  position: relative;
}

.title {
  user-select: none;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 14px;
  margin: 5px;
}

.node.node-input {
  background: hsl(219, 49%, 35%);
}

.node.node-processor {
  background: rgb(57, 126, 57);
}

.node.node-output {
  background: rgb(126, 75, 156);
}

.node.node-then {
  background: rgb(110, 110, 110);
}


.node.node-input:hover {
  background: rgba(45, 76, 133, 0.8);
}

.node.node-processor:hover {
  background: rgba(57, 126, 57, 0.8);
}

.node.node-output:hover {
  background: rgba(126, 75, 156, 0.8);
}

.node.node-then:hover {
  background: rgba(110, 110, 110, 0.8);
}

*[cdkDrag]{
  position: fixed;
  z-index: 10000;
  margin: 0;
}