snippet-highlight {
  height: max-content;
  max-height: 80vh;
  margin: 0;
  margin-bottom: 15px;
  overflow: auto;
  display: block;
}

h1 {
  margin: 5px;
  margin-bottom: 10px;
}

button{
  font-family: sans-serif;
}
