.far {
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
  width: 14px;
  height: 16px;
}

.fas {
  border-radius: 2px;
  padding: 5px;
  width: 14px;
  height: 16px;
}

.title {
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
}

.fa-circle {
  transform: scale(0.2);
}

.title:hover {
  background: rgba(255, 255, 255, 0.1);
}

.expand-toggle:hover {
  background: rgba(255, 255, 255, 0.1);
}

.fa-spinner {
  animation: spinning 1s infinite linear;
}

@keyframes spinning {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
