.far, .fas {
  border-radius: 2px;
  padding: 5px;
  width: 14px;
  height: 16px;
}

.pressable {
  cursor: pointer;
}

.title {
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
}

.empty {
  transform: scale(0.2);
}

.title:hover {
  background: rgba(255, 255, 255, 0.1);
}

.expand-toggle:hover {
  background: rgba(255, 255, 255, 0.1);
}

.spinner {
  transform-origin: 50% 50%;
  animation: spinning 200ms infinite linear;
}

@keyframes spinning {
  0% {
    transform: scale(.2);
    filter: opacity(100%);
  }

  100% {
    transform: scale(1);
    filter: opacity(0%);
  }
}
