.layout {
  margin: 0;
  padding: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 200px auto;
  grid-template-rows: 32px auto;
  grid-template-areas:
    "bar bar"
    "menu workspace";
  justify-items: stretch;
  align-items: stretch;
}
