<div class="fill">
  <ng-container [ngSwitch]="status">
    <ng-container *ngSwitchCase="Status.Busy">
      <!-- render nothing -->
    </ng-container>
    <ng-container *ngSwitchCase="Status.Failure">
      <div class="center">
        <div class="error">
          <div style="margin-bottom: 1em">
            <i class="fas fa-exclamation-triangle"></i> We couldn't connect to OpenRemote
          </div>
          <button mat-button (click)="reload()"><i class="fas fa-sync-alt"></i> Retry</button>
          <p class="muted">{{openremote.isManagerAvailable}}</p>
          <p class="muted">{{openremote.error}}</p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="Status.Authenticated">
      <app-editor></app-editor>
    </ng-container>
    <ng-container *ngSwitchCase="Status.Unauthenticated">
      <button (click)="openremote.login()">
        Log in
      </button>
    </ng-container>
  </ng-container>
</div>
