.toolpanel {
  background: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: stretch;
  overflow-y: auto;
  overflow-x: hidden;
}

.category{
  display: inline-flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-clip: border-box;
  border: solid 1px rgba(0, 0, 0, 0.212);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.title{
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.315);
  width: 100%;
  text-align: center;
  padding: 5px 5px 5px 5px;
}