.layout {
    margin: 0;
    padding: 0;
    display: grid;
    position: absolute;
  
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  
    grid-template-columns: 200px auto;
    grid-template-rows: 32px calc(100% - 32px);
    grid-template-areas:
      "bar bar"
      "menu workspace";
      
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
  }
  