<span>
  <div class="list-container" [attr.pulse]="status == 0">
    <div *ngIf="status == -1" class="error" style="margin: 10px">
      <i class="fas fa-exclamation-triangle"></i> We couldn't connect to OpenRemote
    </div>
    <div class="muted" *ngIf="rules.length == 0 && status == 1">There are no global flow rulesets</div>
    <div *ngFor="let rule of rules" class="title pressable" (click)="close(rule)">
      {{rule.name}}
    </div>
  </div>
</span>
<button mat-button mat-dialog-close>Cancel</button>