.list-container {
  overflow: auto;
  background: rgba(0, 0, 0, 0.1);
  width: 30vw;
  height: 40vh;
}

.list-container[pulse=true] {
  animation: pulse .5s ease-in-out infinite alternate-reverse;
}

.pressable {
  cursor: pointer;
}

.title {
  cursor: pointer;
  padding: 5px;
  width: calc(100% - 10px);
  border-radius: 2px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title:hover {
  background: rgba(255, 255, 255, 0.1);
}

@keyframes pulse {
  0% {
    background: rgba(0, 0, 0, 0.1);
  }

  100% {
    background: rgba(255, 255, 255, 0.1);
  }
}

.fa-spinner {
  animation: spinning 1s infinite linear;
}

@keyframes spinning {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.error {
  text-align: center;
  color: red;
}

.muted {
  color: rgba(255, 255, 255, 0.384);
}

button {
  margin-top: 10px;
}
