.connection {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hitbox{
  pointer-events: visiblePainted;
  transition: stroke 150ms ease-out;
}

.hitbox:hover{
  stroke: rgba(71, 170, 66, 0.445);
  mix-blend-mode: multiply;
}
