.workspace {
  background: url('/assets/workspace.png');
  overflow: auto;
}

.connection {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.selectionBox{
  z-index: 1500;
  background: rgba(71, 170, 66, 0.2);
  border: solid 2px #47AA42;
  position: absolute;
  border-radius: 5px;
  pointer-events: none;
  user-select: none;
  transition: filter 150ms ease-in;
  -webkit-user-drag: none;
}