@import "assets/dark.css";

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fill {
  width: 100%;
  height: 100%;
}

mat-label {
  color: white;
}

.node-input {
  background: rgb(45, 76, 133);
}

.node-processor {
  background: rgb(57, 126, 57);
}

.node-output {
  background: rgb(126, 75, 156);
}